.idea/
.vscode/
*.iws
*.iml
*.ipr
*.swp

.DS_Store
Thumbs.db
/target/
/build/
*.class

/backend/target/
/backend/build/
/backend/.gradle/

/backend/.mvn/wrapper/maven-wrapper.jar
/backend/m2repository/
/backend/*.log

/backend/.smarttomcat/


# /backend/src/main/resources/application.properties



/frontend/node_modules/
/backend/node_modules/


/frontend/dist/
/frontend/dist-ssr/
/frontend/coverage/
/frontend/.vite/

/frontend/.env
/frontend/.env.*

/frontend/.vitepress/cache